name: Code Security Scan

on: 
  push:
    branches:
      - develop 
  pull_request:
    branches:
      - develop
  schedule:
    - cron: '30 * * * *'
jobs:
  client-dependencies:
    name: Client dependency check
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.js_matrix }}
    steps:
      - uses: actions/checkout@master

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        continue-on-error: true # To make sure that artifact upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --severity-threshold=high --fail-on=upgradable
          json: true

      - name: Upload js security scan result as artifact
        uses: actions/upload-artifact@v3
        with:
          name: js-security-scan-result.json
          path: snyk.json

      - name: Analyse the result
        id: set-matrix
        run: | 
          snykJSON=`cat snyk.json`
          jqSnykJSON=`echo $(jq -r . <<< "$snykJSON")`
          echo "::set-output name=js_matrix::${jqSnykJSON}"

  result-analysis:
    name: Analyse scan result
    needs: 
      - client-dependencies
    runs-on: ubuntu-latest
    strategy:
      matrix:
        client: ${{fromJSON(needs.client-dependencies.outputs.matrix)}}
    # if: ${{ github.event. }}
    steps:
      - name: Display the js result
        run: |
          echo ${{ matrix.client.summary }}
          echo ${{ matrix.client.vulnerabilities }}

  # server-dependencies:
  #   name: Server dependency check
  #   runs-on: ubuntu-latest
  #   defaults:
  #     run:
  #       working-directory: ./api
  #   steps:
  #     - uses: actions/checkout@master

  #     - name: Download dependencies
  #       run: go get -v -d

  #     - name: Run Snyk to check for vulnerabilities
  #       uses: snyk/actions/golang@master
  #       continue-on-error: true # To make sure that artifact upload gets called
  #       env:
  #         SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
  #       with:
  #         args: --severity-threshold=high --file=./api/go.mod
  #         json: true

  #     - name: Upload go security scan result as artifact
  #       uses: actions/upload-artifact@v3
  #       with:
  #         name: go-security-scan-result.json
  #         path: snyk.json
